


.header{
  background-color: white;
}

.logo{
  width: 200px;
  position: absolute;
  top: 10px;
  left: 16px;
}

.block{
  text-align: center;
  min-height: calc(100vh - 232px);
  padding: 16px 16px;
}

.doc{
  position: relative;
  padding: 64px 48px;
}